# Variáveis de ambiente
.env
beleza-em-fios-firebase-adminsdk-fbsvc-8cebdf998b
# Arquivos de chave do Firebase
# Substitua 'serviceAccountKey.json' pelo nome real do seu arquivo
serviceAccountKey.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de dependências do Node.js
node_modules
node_modules

# Arquivos de build/compilação (se usar)
/dist
/build